/* My custom styles */

/* html,
body, */
/* .header, */

$primary-color: #fff;
$error-color: #86181d;
$error-back: #ffdce0;
$main-color: #00695c;

#intro {
  height: 725.9px;
  background: url("https://static.pexels.com/photos/382297/pexels-photo-382297.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-container {
  height: 350px;
}

.top-nav-collapse, .navcolor {
  background: $main-color;
}

.dropdown .dropdown-menu .dropdown-item {
  &:active, &:focus, &:hover {
    background-color: $main-color;
  }
}

#intro input[type="text"]:not([readonly]) + label {
  color: rgba(255, 255, 255, 0.65);
}

ul {
  list-style: none;
}

.btn-mycolor {
  background: $main-color;
}

@media (max-width: 575px) {
  h1 {
    margin-top: 100px;
  }
  .navbar {
    background: $main-color;
  }
}

@media (max-width: 576px) and (max-width: 767px) {}

@media (max-width: 768px) and (max-width: 991px) {
  .navbar {
    background: $main-color;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 80%;
  }
  .col-md-6 {
    flex: 0 0 500%;
    max-width: 40%;
  }
}

@media (max-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {
  h1 {
    margin-top: 100px;
  }
  .signup {
    width: 550px;
  }
  .add {
    margin: 0 auto;
  }
  .custom-file-input {
    min-width: 25rem;
  }
}

.test {
  background: $primary-color;
  margin-top: 46px;
  padding: 0 24px;
}

.card {
  border-bottom: 4px solid $main-color !important;
}

.prev {
  border-bottom: 0px solid $main-color !important;
}

.btn-size {
  width: 200px;
}

.navbar {
  background: $main-color;
}

.footer-color {
  background-color: $main-color;
}

.space {
  margin-top: 60px;
}

.myfile {
  margin-bottom: 7px;
}

/* .add {
    margin: 0 auto
} */

.custom-file-input {
  width: 11rem;
}

.try {
  margin: 0 auto;
}

.adm {
  background-color: $main-color;
  width: 100%;
}

.spaces {
  margin-top: 60px;
}

.btn-sizes {
  width: 200px;
  margin-right: 120px;
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
}

.md-form label {
  top: -0.1rem;
  &.active {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-10%);
    font-size: 0.8rem;
  }
}

.fad {
  font-size: 260px;
  color: $main-color;
  margin-top: 100px;  
}

.lab {
  margin-top: -0.4rem !important;
  // margin-bottom: 2rem !important
}

.admpro {
  background-color: $primary-color;
  margin-top: 11px;
}

.land {
  margin-top: 110px;
}

.slot {
  margin-top: -44px;
}

.max {
  max-height: 245px;
  min-height: 245px;
}

.img-view {
  max-height: 180px;
  min-height: 180px
}

.len {
  margin-left: 0px !important;
  margin-top: 9px !important;
  width: 100%
}

.min-image {
  max-height: 220px;
  width: 100%;
  min-height: 220px;
}

.error-msg {
  background: $error-back;
  color: $error-color;
  margin-left: 47px;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  border-radius: .25rem;
}

.page-item.active .page-link {
  z-index: 2;
  color: $primary-color;
  background-color: $main-color;
  border-color: $main-color;
}

.page-item.active .page-link:hover {
  z-index: 2;
  color: $primary-color;
  background-color: $main-color;
  border-color: $main-color;
}

.page-link {
  background-color: $primary-color;
  border: 1px solid #ddd;
  color: $main-color;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.max-event {
  max-height: 300px;
  min-height: 300px;
}

.justify {
  justify-content: center
}

.equal {
  max-height: 290px;
  min-height: 290px;
}


.no-event {
  font-size: 140px;
  color: $main-color;
  margin-top: -56px; 
}

.add-event {
  background: $primary-color;
  color: $main-color;
  font-size: 25px;
}

.add-event:hover {
  background: $primary-color;
  color: $main-color;
}
